<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/account/')
} %>

<%- messages() %>


<main>
    <h2>Welcome <%= accountData.first_name %></h2>
    <p>You're logged in.</p>
    <!-- Update Account Information Link (Visible to All Users) -->
    <p>
      <a href="/account/update/<%= accountData.account_id %>" title="Update Your Account Information">
        Update Account Information
      </a>
    </p>
  
    <!-- Show Inventory Management Section Only for Employees/Admins -->
    <% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
      <h3>Inventory Management</h3>
      <p>
        <a href="/inv/" title="Access Inventory Management">Go to Inventory Management</a>
      </p>
    <% } %>
</main>
  

