<% if (title) { %>
    <h1><%= title %></h1>
    <%- messages() %>
<% } else {
    res.redirect('/')
} %>


<div class="form-container">
    <form action="/account/register" method="post">
        <div>
            <label for="account_firstname">First name:</label>
            <input 
                type="text" 
                id="account_firstname" 
                name="account_firstname" 
                placeholder="Enter your first name" 
                required>
        </div>

        <div>
            <label for="account_lastname">Last name:</label>
            <input 
                type="text" 
                id="account_lastname" 
                name="account_lastname" 
                placeholder="Enter your last name" 
                required>
        </div>

        <div>
            <label for="account_email">Email:</label>
            <input 
                type="email" 
                id="account_email" 
                name="account_email" 
                placeholder="Enter your email" 
                required>
        </div>

        <div>
            <label for="account_password">Password:</label>
            <input 
                type="password" 
                id="account_password" 
                name="account_password" 
                placeholder="Enter your password" 
                required
                minlength="12"
                pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{12,}$"
                title="Password must be at least 12 characters long, contain at least one uppercase letter, one number, and one special character."
            >
            <button type="button" id="togglePassword">Show Password</button>
        </div>
                
        <button type="submit">register</button>
    </form>
</div>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const passwordField = document.querySelector('#account_password');

    togglePassword.addEventListener('click', function () {
        // Toggle the type attribute between 'password' and 'text'
        const isPasswordHidden = passwordField.getAttribute('type') === 'password';
        passwordField.setAttribute('type', isPasswordHidden ? 'text' : 'password');
        
        // Update the button text accordingly
        this.textContent = isPasswordHidden ? 'Hide Password' : 'Show Password';
    });
</script>
