<header id="top-header">
  <div class="siteName">
    <h1><a href="/" title="Return to home page">CSE Motors</a></h1>
  </div>
  <div id="tools">
    <% if (locals.accountData) { %> 
      <h2><a href="/account/" title="Manage Account">Welcome <%= accountData.account_firstname %></a></h2>
      <h2><a href="/account/logout" title="Click to log out">Logout</a></h2>
    <% } else { %>
      <h2><a href="/account/login" title="Click to log in">My Account</a></h2>
    <% } %>    
  </div>
</header>
