<body>
    <h1>Welcome to CSE Motors!</h1>
    <div id="background">
        <img src="images/site/checkboard.jpg" alt="checkboard background">
    </div>
    <div id="prowords">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <div id="owntoday">
            <img src="images/site/own_today.png" alt="own today photo">
        </div>
    </div>
    <div id="proimage">
        <img src="images/vehicles/delorean.jpg" alt="delorean car">
    </div>
    <div id="upgrades">
        <figure>
            <img src="images/upgrades/flux-cap.png" alt="flux capacitor">
            <figcaption>Flux Capacitor</figcaption>
        </figure>
        <figure>
            <img src="images/upgrades/flame.jpg" alt="flame decals">
            <figcaption>Flame Decals</figcaption>
        </figure>
        <figure>
            <img src="images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
            <figcaption>Bumper Stickers</figcaption>
        </figure>
        <figure>    
            <img src="images/upgrades/hub-cap.jpg" alt="hub cap">
            <figcaption>Hub Cap</figcaption>
        </figure>
    </div>
    <div id="reviews">
        <ul>
            <li>"So fast it is almost like travelling in time."( 4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day!" (4.5/5)</li>
            <li>"80's livin and I love it!" (4.5/5)</li>
        </ul>
    </div>
    




</body>
