<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<section class="inventory-management">
    <ul>
        <li><a href="/inv/add-classification" title="Add New Classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory" title="Add New Vehicle">Add New Vehicle</a></li>
    </ul>
</section>

<section class="inventory-management">
    <h2>Manage Inventory</h2>
    <p>Choose a classification to see the inventory items.</p>
    <%- classificationList %>
    <table id="inventoryDisplay"></table>
    <noscript>Javascript must be enabled to use this page.</noscript>
</section>
<script src="../../js/inventory.js"></script>